@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700|Quicksand:400,500,700');

/*
font-family: 'Arvo', serif;
font-family: 'Quicksand', sans-serif;
*/

h1,h3,h5{
	font-family: 'Arvo', serif;
	color: #636b6f;
}

h2,h4,h6,p,ul,li,th,tr{
	font-family: 'Quicksand', sans-serif;
}

body{
	background: #f4f4f4;
}

.white-container{
	background-color: #ffffff;
	-webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.33);
    margin-bottom: 60px;

}

.navbar-default {
    border-bottom: 1px solid #aa9988;
    background-color: #ffffff;
}

.navbar-brand{
	height: auto;
}

.navbar-brand>h1{
	margin: 11px 0;
}

.center-nav-links{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	text-align: center;
}

.center-nav-links>li{
	padding: 8px;
	display: inline-block;
}

.corner-stone-image{
	max-height: 420px;
    display: block;
    margin: 0px auto 4px auto;
}

.single-post:hover{
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 15px 1px rgba(173,168,173,1);
	-moz-box-shadow: 0px 0px 15px 1px rgba(173,168,173,1);
	box-shadow: 0px 0px 15px 1px rgba(173,168,173,1);
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

.single-post p{
	max-width: 100%;
	word-break: break-word;
}

.post-padder{
		padding-left: 8px;
		padding-right: 8px;
	}

.site-branding{
	text-align: center;
}

.title-link{
	color: #636b6f !important;
	-webkit-transition: all .33s ease-out;
	-moz-transition: all .33s ease-out;
	-o-transition: all .33s ease-out;
	transition: all .33s ease-out;
}

.title-link:hover{
	color: #e1a708 !important;
	text-decoration: none;
	-webkit-transition: all .33s ease-in;
	-moz-transition: all .33s ease-in;
	-o-transition: all .33s ease-in;
	transition: all .33s ease-in;
}

.nav-link:link, .nav-link:visited{
	color: #aa9988;
	font-weight: bold;
	line-height: 1.15;
}

.nav-link:hover, .nav-link:active{
	color: #e1a708;
}

.share-btn{
	opacity: 0;
	-webkit-transition: opacity .66s ease-in;
	-moz-transition: opacity .66s ease-in;
	-o-transition: opacity .66s ease-in;
	transition: opacity .66s ease-in;
}

.popover-content {
    word-wrap: break-word;
}

.feed-notice{
	color: #dc5d1c;
}

/* Cursor Classes */
.cursor-pointer{
	cursor: pointer;
}

.pointer-cursor:hover{
	cursor: pointer;
}

/* Styles for the sidebar */
.table-sm > thead > tr > th{
	font-weight: 500;
}

.table-sm > tbody > tr > th{
	font-weight: normal;
}

/* ###Custom Padding### */
/* Padding Vertical */
.pvn{
	padding-top: 0px;
	padding-bottom: 0px;
}

.pvs{
	padding-top: 4px;
	padding-bottom: 4px;
}

.pvm{
	padding-top: 8px;
	padding-bottom: 8px;
}

.pvl{
	padding-top: 16px;
	padding-bottom: 16px;
}

/* Padding Horizontal */
.phn{
	padding-left: 0px;
	padding-right: 0px;
}

.phs{
	padding-left: 4px;
	padding-right: 4px;
}

.phm{
	padding-left: 8px;
	padding-right: 8px;
}

.phl{
	padding-left: 16px;
	padding-right: 16px;
}

/* Padding Top */
.ptn{
	padding-top: 0;
}

.pts{
	padding-top: 4px;
}

.ptm{
	padding-top: 8px;
}

.ptl{
	padding-top: 16px;
}

/* Padding Bottom */
.pbn{
	padding-bottom: 0;
}

.pbs{
	padding-bottom: 4px;
}

.pbm{
	padding-bottom: 8px;
}

.pbl{
	padding-bottom: 16px;
}

/* Padding Left */
.pln{
	padding-left: 0px;
}

.pls{
	padding-left: 4px;
}

.plm{
	padding-left: 8px;
}

.pll{
	padding-left: 16px;
}

/* Padding Right */
.prn{
	padding-right: 0px;
}

.prs{
	padding-right: 4px;
}

.prm{
	padding-right: 8px;
}

.prl{
	padding-right: 16px;
}

/* ###Custom Margins### */
/* Margin Vertical */
.mvn{
	margin-top: 0px;
	margin-bottom: 0px;
}

.mvs{
	margin-top: 4px;
	margin-bottom: 4px;
}

.mvm{
	margin-top: 8px;
	margin-bottom: 8px;
}

.mvl{
	margin-top: 16px;
	margin-bottom: 16px;
}

/* Margin Horizontal */
.mhn{
	margin-left: 0px;
	margin-right: 0px;
}

.mhs{
	margin-left: 4px;
	margin-right: 4px;
}

.mhm{
	margin-left: 8px;
	margin-right: 8px;
}

.mhl{
	margin-left: 16px;
	margin-right: 16px;
}

/* Margin Top */
.mtn{
	margin-top: 0;
}

.mts{
	margin-top: 4px;
}

.mtm{
	margin-top: 8px;
}

.mtl{
	margin-top: 16px;
}

/* Margin Bottom */
.mbn{
	margin-bottom: 0;
}

.mbs{
	margin-bottom: 4px;
}

.mbm{
	margin-bottom: 8px;
}

.mbl{
	margin-bottom: 16px;
}

/* Margin Left */
.mln{
	margin-left: 0px;
}

.mls{
	margin-left: 4px;
}

.mlm{
	margin-left: 8px;
}

.mll{
	margin-left: 16px;
}

/* Margin Right */
.mrn{
	margin-right: 0px;
}

.mrs{
	margin-right: 4px;
}

.mrm{
	margin-right: 8px;
}

.mrl{
	margin-right: 8px;
}

/* Custom Video Styles */
.video-post{
	max-width: 100%;
}

/* Customer User Display Styles */
.user-avatar{
	display: inline-block;
	margin-right: 8px;
	width: 30px;
	height: 30px;
	background-color: orange;
	border-radius: 16px;
	background-size: cover;
}

/* Admin Styles */
.admin-user-list{
	padding-left: 0;
}

.admin-user-list li{
	display: inline-block;
	margin-right: 8px;
	padding-right: 8px;
	border-right: 2px solid #636b6f;
}

.admin-user-list li:nth-last-child(1){
	margin-right: 0;
	border-right: none;
}

/* Medium Devices Down */
@media screen and (min-width: 0px) and (max-width: 767px){
	.center-nav-links>li{
		clear: both !important;
	}
}

/* Tablets Only */

@media screen and (min-width: 768px) and (max-width: 991px){
	.center-nav-links>li{
		clear: both !important;
	}
}

/* Small Devices And Below */
@media (max-width: 576px) {
	.post-padder{
		padding-left: 0;
		padding-right: 0;
	}
}

/*
@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }
*/